numpy==1.26.4
tensorflow==2.10.*
keras
deepface
certifi
click
dotmap
face-recognition
face-recognition-models
imutils
requests
pillow==10.2.0
protobuf==3.19.6
tqdm
opencv-python
scikit-image
torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2
onnxruntime-gpu
onnx==1.12.0
bytetracker-gml
fastapi
uvicorn[standard]
jinja2
websockets
python-multipart
aiortc==1.11.0
aiohttp==3.11.18
av==14.3.0